In [2]:
tup=1,2,3
tup

(1, 2, 3)

In [4]:
nested_tup=(1,2,3),(4,5)
nested_tup

((1, 2, 3), (4, 5))

In [6]:
tuple([1,5,9])

(1, 5, 9)

In [8]:
tup=tuple('game')
tup

('g', 'a', 'm', 'e')

In [9]:
tup[1]

'a'

In [12]:
tup=tuple(['too', [1,2],True])
tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [14]:
tup[1].append(3)
tup

('too', [1, 2, 3], True)

In [15]:
(4,None,'foo')+(1,0)

(4, None, 'foo', 1, 0)

In [16]:
('foo','water')*4

('foo', 'water', 'foo', 'water', 'foo', 'water', 'foo', 'water')

In [17]:
tup=(1,2,3)

In [18]:
a,b,c=tup

In [19]:
a

1

In [24]:
tup=1,2,(3,4)

In [27]:
a,b,(c,d)=tup

In [28]:
d

4

In [32]:
a,b=3,4

In [33]:
a

3

In [34]:
b

4

In [35]:
b,a=a,b

In [36]:
a

4

In [37]:
b

3

In [39]:
seq=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [40]:
a=(0,1,2,2,2,3,4,8)
a.count(0)

1

In [41]:
a_list=[1,2,3,None]
tup=('water','bottle','who')
b_list=list(tup)
b_list

['water', 'bottle', 'who']

In [43]:
b_list[1]='why'
b_list

['water', 'why', 'who']

In [44]:
gen=range(10)
gen

range(0, 10)

In [45]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
b_list.append('elf')
b_list

['water', 'why', 'who', 'elf']

In [47]:
b_list.insert(0,'blue')
b_list

['blue', 'water', 'why', 'who', 'elf']

In [48]:
b_list.pop(2)
b_list

['blue', 'water', 'who', 'elf']

In [49]:
b_list.append('when')
b_list

['blue', 'water', 'who', 'elf', 'when']

In [57]:
b_list.remove('blue')
b_list

['who', 'elf']

In [58]:
'elf' in b_list

True

In [59]:
'elf' not in b_list

False

In [60]:
[4,None,'who']+[1,2,(5,6)]

[4, None, 'who', 1, 2, (5, 6)]

In [61]:
x=[4,None,'who']
x.extend([1,2,(5,6)])
x

[4, None, 'who', 1, 2, (5, 6)]

In [62]:
a=[9,5,1,8,3]
a.sort()
a

[1, 3, 5, 8, 9]

In [63]:
b=['Hi','bye','who']
b.sort(key=len)
b

['Hi', 'bye', 'who']

In [65]:
seq=[0,1,2,3,4,5,6,7,8,9]
seq[1:5]

[1, 2, 3, 4]

In [66]:
seq[3:4]=[6,3]
seq

[0, 1, 2, 6, 3, 4, 5, 6, 7, 8, 9]

In [67]:
seq[:5]

[0, 1, 2, 6, 3]

In [68]:
seq[3:]

[6, 3, 4, 5, 6, 7, 8, 9]

In [69]:
seq[-4:]

[6, 7, 8, 9]

In [70]:
seq[-6:-1]

[4, 5, 6, 7, 8]

In [71]:
seq[::2]

[0, 2, 3, 5, 7, 9]

In [72]:
seq[::-1]

[9, 8, 7, 6, 5, 4, 3, 6, 2, 1, 0]

In [73]:
sorted([7,15,8,6,1])

[1, 6, 7, 8, 15]

In [74]:
sorted('present')

['e', 'e', 'n', 'p', 'r', 's', 't']

In [76]:
seq1=['who','why','when']
seq2=['Hi','bye']
zipped=zip(seq1,seq2)
list(zipped)

[('who', 'Hi'), ('why', 'bye')]

In [77]:
seq3=[False,True]
list(zip(seq1,seq2,seq3))

[('who', 'Hi', False), ('why', 'bye', True)]

In [78]:
pitchers=[('nolan','ryan'),('roger','clemens'),('schilling','curt')]

In [79]:
first_names,last_names=zip(*pitchers)
first_names

('nolan', 'roger', 'schilling')

In [80]:
last_names

('ryan', 'clemens', 'curt')

In [81]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [82]:
empty_dict={}
d1={'a':'some value','b':[0,1,2,3]}
d1

{'a': 'some value', 'b': [0, 1, 2, 3]}

In [83]:
d1[7]='an integer'
d1

{'a': 'some value', 'b': [0, 1, 2, 3], 7: 'an integer'}

In [84]:
d1['b']

[0, 1, 2, 3]

In [85]:
'b in d1'

'b in d1'

In [86]:
d1[5]='some value'
d1

{'a': 'some value', 'b': [0, 1, 2, 3], 7: 'an integer', 5: 'some value'}

In [87]:
d1['dummy']='another value'
d1

{'a': 'some value',
 'b': [0, 1, 2, 3],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [88]:
del d1[5]
d1

{'a': 'some value',
 'b': [0, 1, 2, 3],
 7: 'an integer',
 'dummy': 'another value'}

In [89]:
ret=d1.pop('dummy')
ret

'another value'

In [90]:
d1

{'a': 'some value', 'b': [0, 1, 2, 3], 7: 'an integer'}

In [91]:
list(d1.keys())

['a', 'b', 7]

In [92]:
list(d1.values())

['some value', [0, 1, 2, 3], 'an integer']

In [93]:
d1.update({'b':'who','c':11})
d1

{'a': 'some value', 'b': 'who', 7: 'an integer', 'c': 11}

In [95]:
mapping=dict(zip(range(5),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [96]:
words=['bad','cap','book','cat']
by_letter={}
for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

by_letter

{'b': ['bad', 'book'], 'c': ['cap', 'cat']}

In [97]:
hash('Hi')

-7801196938871989442

In [98]:
hash((0,1,(1,2)))

-9062293794275981466

In [99]:
hash((0,1[1,2]))

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<ipython-input-99-a6f2902e9093>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  hash((0,1[1,2]))

TypeError: 'int' object is not subscriptable

In [100]:
d={}
d[tuple([0,1,2,])]=4
d

{(0, 1, 2): 4}

In [101]:
set([1,1,1,1,2,2,2,2,3,3])

{1, 2, 3}

In [102]:
{1,2,3,1,2,3}

{1, 2, 3}

In [103]:
a={0,0,0,0,1,2}
b={3,5,6,7,1}

In [105]:
a.union(b)

{0, 1, 2, 3, 5, 6, 7}

In [107]:
a|b

{0, 1, 2, 3, 5, 6, 7}

In [108]:
a.intersection(b)

{1}

In [109]:
a&b

{1}

In [112]:
c=a.copy()
c|=b
c

{0, 1, 2, 3, 5, 6, 7}

In [113]:
d=a.copy()
d&=b
d

{1}

In [114]:
my_data=[0,1,2,3]
my_set={tuple(my_data)}
my_set

{(0, 1, 2, 3)}

In [115]:
a_set={1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [116]:
a_set.issuperset({1,2,3})

True

In [117]:
{1,2,3}=={3,2,1}

True

In [119]:
strings=['a','as','bad','why']
[x.upper() for x in strings if len(x)>2]

['BAD', 'WHY']

In [120]:
unique_lengths={len(x) for x in strings}
unique_lengths

{1, 2, 3}

In [121]:
all_data=[['jhon','emily','mary'],['maria','matalia']]

In [123]:
result=[name for names in all_data for name in names if name.count('a')>=2]
result

['maria', 'matalia']

In [124]:
some_tuples=[(1,2,3),(4,5,6)]
flattened=[x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6]

In [125]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6]]

In [126]:
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)

In [128]:
my_function(1,2,z=4.5)

13.5

In [130]:
def func():
    a=[]
    for i in range(5):
        a.append(i)

In [131]:
a=[]
def func():
    for i in range(5):
        a.append(i)

In [133]:
a=None
def bind_a_variable():
    global a
    a=[]
bind_a_variable()
print(a)

[]

In [137]:
states=['Alabama','Georgia!','why##','when?']

In [138]:
import re

def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()
        value=re.sub('[!#?]','',value)
        value=value.title()
        result.append(value)
    return result

In [141]:
clean_strings(states)

['Alabama', 'Georgia', 'Why', 'When']

In [142]:
float('1.2345')

1.2345

In [147]:
float('something')

ValueError: could not convert string to float: 'something'

In [152]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [153]:
attempt_float('1.2345')

1.2345

In [154]:
attempt_float('something')

'something'

In [158]:
float(((1,2)))

TypeError: float() argument must be a string or a number, not 'tuple'

In [156]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [157]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [162]:
path='C:/Users/Cie/OneDrive/바탕 화면/12.txt'
f=open(path)

In [164]:
lines=[x.rstrip() for x in open(path)]
lines

['dfsffafsafsf', 'fsda']

In [165]:
f.close()

In [166]:
with open(path) as f:
    lines=[x.rstrip()for x in f]

In [167]:
f=open(path)
f.read(10)

'dfsffafsaf'

In [169]:
f2=open(path,'rb')
f2.read(10)

b'dfsffafsaf'

In [170]:
f.tell()

10

In [171]:
f.seek(3)

3

In [173]:
f.read(1)

'f'

In [174]:
f.close()

In [175]:
f2.close()